.menu-wrapper {
    width: 100%;
    height: 45px;
    background-color: white;
    box-shadow: 0px 8px 6px -6px #999;
    position: fixed;
    top: 0;
    z-index: 10;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    float: right;
}

#nav-bar li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: black;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

#nav-bar li a:hover {
    background-color: lightgray;
}

#logo{
    font-size: 35px;
    margin-top: -10px;
    font: Helvetica;
    pointer-events: none;
}

/*body content*/
.content{
    width: 100%;
    height: auto;
    margin-top: 4px;
    z-index: 0;
}

.img-slides{
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}
.img-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color:antiquewhite;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
